# postgresql
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

# pgadmin
PG_ADMIN_USER=
PG_ADMIN_PASSWORD=

# nodemailer credentials
TRANSPORTER_HOST=
TRANSPORTER_PORT=
TRANSPORTER_USER=
TRANSPORTER_PASSWORD=